Binaries
DerivedDataCache
Intermediate
Saved
Build
Plugins
Content/BallisticsVFX
Content/AnimalVarietyPack
Content/Female_Mannequin
Content/Maps
Content/ParagonDrongo
Content/ParagonWraith
Content/ScifiSoundsandWeapons
Content/Soldier_ru_01
Content/Environment
Content/Weapons
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/AdvancedLocomotionV4/Levels/ALS_DemoLevel.umap
Content/AdvancedLocomotionV4/Levels/ALS_DemoLevel_BuiltData.uasset